<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <
</head>
<body>
  <!-- THE LINE BELOW IS GENERATED, DON'T REMOVE OR MODIFY-->

  <!-- END OF GENERATED CONTENT -->
  <h1>Highcharts</h1>
  <div style={styles.container}>
        <Header />
        
        <div style={styles.subContainer}>
            <Navbar />

            <div>
               GRAPH COMPONENT <br/>
               <div id="graph"> </div>
             </div>
         </div>
    </div>
  <div id="test"> Graph.js</div>

  <!-- <script src="../Header/Header"></script>
  <script src="../Navbar/Navbar"></script> -->

</body>
</html>